<section class="assortment">
  <div class="container assortment-container">
    <h2 class="assortment-title">Наші сумки</h2>
    <ul class="assortment-list">
      <li class="assortment-item">
        <div class="assortment-picture">
          <picture>
            <source
              srcset="
                ../img/assortment/assortment1-desk-1x.jpg 1x,
                ../img/assortment/assortment1-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/assortment/assortment1-tab-1x.jpg 1x,
                ../img/assortment/assortment1-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/assortment/assortment1-mob-1x.jpg 1x,
                ../img/assortment/assortment1-mob-2x.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <img
              class="assortment-img"
              src="../img/assortment/assortment1-mob-1x.jpg"
              width="288"
              height="345"
              alt="photo EcoBag Classic"
            />
          </picture>
        </div>
        <div class="assortment-subtitle-text">
          <h3 class="assortment-subtitle">EcoBag Classic</h3>
          <p class="assortment-text">
            Елегантна та містка сумка для щоденного використання.
          </p>
          <span class="assortment-price">$25</span>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
      <li class="assortment-item">
        <div class="assortment-picture">
          <picture>
            <source
              srcset="
                ../img/assortment/assortment2-desk-1x.jpg 1x,
                ../img/assortment/assortment2-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/assortment/assortment2-tab-1x.jpg 1x,
                ../img/assortment/assortment2-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/assortment/assortment2-mob-1x.jpg 1x,
                ../img/assortment/assortment2-mob-2x.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <img
              class="assortment-img"
              src="../img/assortment/assortment2-mob-1x.jpg"
              width="288"
              height="345"
              alt="photo EcoTote Shopper"
            />
          </picture>
        </div>
        <div class="assortment-subtitle-text">
          <h3 class="assortment-subtitle">EcoTote Shopper</h3>
          <p class="assortment-text">
            Ідеальна для покупок, з <br />посиленими ручками.
          </p>
          <span class="assortment-price">$30</span>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
      <li class="assortment-item">
        <div class="assortment-picture">
          <picture>
            <source
              srcset="
                ../img/assortment/assortment3-desk-1x.jpg 1x,
                ../img/assortment/assortment3-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/assortment/assortment3-tab-1x.jpg 1x,
                ../img/assortment/assortment3-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/assortment/assortment3-mob-1x.jpg 1x,
                ../img/assortment/assortment3-mob-2x.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <img
              class="assortment-img"
              src="../img/assortment/assortment3-mob-1x.jpg"
              width="288"
              height="345"
              alt="photo EcoBackpack Urban"
            />
          </picture>
        </div>
        <div class="assortment-subtitle-text">
          <h3 class="assortment-subtitle">EcoBackpack Urban</h3>
          <p class="assortment-text">
            Зручний рюкзак для міста з відділенням для ноутбука.
          </p>
          <span class="assortment-price">$45</span>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
      <li class="assortment-item">
        <div class="assortment-picture">
          <picture>
            <source
              srcset="
                ../img/assortment/assortment4-desk-1x.jpg 1x,
                ../img/assortment/assortment4-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/assortment/assortment4-tab-1x.jpg 1x,
                ../img/assortment/assortment4-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/assortment/assortment4-mob-1x.jpg 1x,
                ../img/assortment/assortment4-mob-2x.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <img
              class="assortment-img"
              src="../img/assortment/assortment4-mob-1x.jpg"
              width="288"
              height="345"
              alt="photo EcoCrossbody Mini"
            />
          </picture>
        </div>
        <div class="assortment-subtitle-text">
          <h3 class="assortment-subtitle">EcoCrossbody Mini</h3>
          <p class="assortment-text">
            Компактна сумка через плече для найнеобхіднішого.
          </p>
          <span class="assortment-price">$20</span>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
      <li class="assortment-item">
        <div class="assortment-picture">
          <picture>
            <source
              srcset="
                ../img/assortment/assortment5-desk-1x.jpg 1x,
                ../img/assortment/assortment5-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/assortment/assortment5-tab-1x.jpg 1x,
                ../img/assortment/assortment5-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/assortment/assortment5-mob-1x.jpg 1x,
                ../img/assortment/assortment5-mob-2x.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <img
              class="assortment-img"
              src="../img/assortment/assortment5-mob-1x.jpg"
              width="288"
              height="345"
              alt="photo EcoLunch Bag"
            />
          </picture>
        </div>
        <div class="assortment-subtitle-text big">
          <h3 class="assortment-subtitle">EcoLunch Bag</h3>
          <p class="assortment-text">Стильна та практична сумка для обідів.</p>
          <span class="assortment-price">$15</span>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
      <li class="assortment-item">
        <div class="assortment-picture">
          <picture>
            <source
              srcset="
                ../img/assortment/assortment6-desk-1x.jpg 1x,
                ../img/assortment/assortment6-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/assortment/assortment6-tab-1x.jpg 1x,
                ../img/assortment/assortment6-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/assortment/assortment6-mob-1x.jpg 1x,
                ../img/assortment/assortment6-mob-2x.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <img
              class="assortment-img"
              src="../img/assortment/assortment6-mob-1x.jpg"
              width="288"
              height="345"
              alt="photo EcoBeach Tote"
            />
          </picture>
        </div>
        <div class="assortment-subtitle-text">
          <h3 class="assortment-subtitle">EcoBeach Tote</h3>
          <p class="assortment-text">
            Велика сумка для пляжних речей з водонепроникною підкладкою.
          </p>
          <span class="assortment-price">$35</span>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
      <li class="assortment-item">
        <div class="assortment-picture">
          <picture>
            <source
              srcset="
                ../img/assortment/assortment7-desk-1x.jpg 1x,
                ../img/assortment/assortment7-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/assortment/assortment7-tab-1x.jpg 1x,
                ../img/assortment/assortment7-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/assortment/assortment7-mob-1x.jpg 1x,
                ../img/assortment/assortment7-mob-2x.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <img
              class="assortment-img"
              src="../img/assortment/assortment7-mob-1x.jpg"
              width="288"
              height="345"
              alt="photo EcoTravel Duffle"
            />
          </picture>
        </div>
        <div class="assortment-subtitle-text">
          <h3 class="assortment-subtitle">EcoTravel Duffle</h3>
          <p class="assortment-text">
            Містка дорожня сумка з додатковими кишенями.
          </p>
          <span class="assortment-price">$60</span>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
      <li class="assortment-item">
        <div class="assortment-picture">
          <picture>
            <source
              srcset="
                ../img/assortment/assortment8-desk-1x.jpg 1x,
                ../img/assortment/assortment8-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/assortment/assortment8-tab-1x.jpg 1x,
                ../img/assortment/assortment8-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/assortment/assortment8-mob-1x.jpg 1x,
                ../img/assortment/assortment8-mob-2x.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <img
              class="assortment-img"
              src="../img/assortment/assortment8-mob-1x.jpg"
              width="288"
              height="345"
              alt="photo EcoKids Bag"
            />
          </picture>
        </div>
        <div class="assortment-subtitle-text big-big">
          <h3 class="assortment-subtitle">EcoKids Bag</h3>
          <p class="assortment-text">Яскрава та зручна сумка для дітей.</p>
          <span class="assortment-price">$22</span>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
    </ul>
  </div>
</section>
