<section class="feedbacks-testimonial" id="feedbacks">
    <div class="container">
        <h2 class="heading">Що говорять наші клієнти</h2>
        <div class="feedbacks-content">
            <ul class="feedbacks-column">
                <li class="feedbacks-item">
                    <ul class="feedbacks-stars">
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                    </ul>
                    <p class="feedbacks-quote">Сумка дуже зручна та стильна, використовую щодня!</p>
                    <p class="feedbacks-author">Анна</p>
                </li>

                <li class="feedbacks-item">
                    <ul class="feedbacks-stars">
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                        <li><svg class="star inactive" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                    </ul>
                    <p class="feedbacks-quote">Відмінна якість матеріалів, приємно здивована.</p>
                    <p class="feedbacks-author">Ігор</p>
                </li>

                <li class="feedbacks-item">
                    <ul class="feedbacks-stars">
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                        <li><svg class="star inactive" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                    </ul>
                    <p class="feedbacks-quote">Сумка повністю відповідає опису, рекомендую!</p>
                    <p class="feedbacks-author">Олена</p>
                </li>

                <li class="feedbacks-item">
                    <ul class="feedbacks-stars">
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                        <li><svg class="star" width="20" height="20">
                                <use href="./img/icons.svg#icon-zirca"></use>
                            </svg></li>
                    </ul>
                    <p class="feedbacks-quote">Швидка доставка та гарне обслуговування.</p>
                    <p class="feedbacks-author">Сергій</p>
                </li>
            </ul>
        </div>
    </div>
</section>