<section class="navbar-section">
  <div class="navbar">
    <div class="navbar-container container">
      <button class="navbar-close">
        <svg class="navbar-close-icon" width="32" height="32">
          <use href="/img/icons.svg#icon-close-btn"></use>
        </svg>
      </button>

      <nav class="navbar-nav">
        <a class="navbar-logo" href="./index.html">
          <svg class="navbar-logo-icon" width="84px" height="36px">
            <use href="./images/header-icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="navbar-nav-list">
          <li class="navbar-nav-list-item">
            <a class="nav-link" href="">Про нас</a>
          </li>
          <li class="navbar-nav-list-item">
            <a class="nav-link" href="">Переваги</a>
          </li>
          <li class="navbar-nav-list-item">
            <a class="nav-link" href="">Асортимент</a>
          </li>
          <li class="navbar-nav-list-item">
            <a class="nav-link" href="">Галерея</a>
          </li>
          <li class="navbar-nav-list-item">
            <a class="nav-link" href="">Відгуки</a>
          </li>
          <li class="navbar-nav-list-item">
            <a class="nav-link" href="">Контакти</a>
          </li>
        </ul>
      </nav>
      <address class="navbar-address">
        <ul class="contacts-list">
          <li class="contact-item">
            <a class="contact-link" href="mailto:hello@ecotote.com"
              >hello@ecotote.com</a
            >
          </li>
          <li class="contact-item">
            <a class="contact-link" href="tel:+380999091122"
              >+38 (099) 909 11 22</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</section>
