<section class="contact container" id="support">
  <div class="flex container-2">
    <div class="content">
      <div class="section-support-title">
        <h1 class="heading pb-6">Залишились питання? Зв&#39;яжіться з нами!</h1>
        <h2 class="text">Ми тут, щоб допомогти!</h2>
      </div>
      <form class="w-full">
        <div class="pb-6">
          <label class="text-wrapper">Ім&#39;я</label>
          <input
            type="text"
            class="placeholder-wrapper text-wrapper-2"
            placeholder="Іван"
            required
            minlength="5"
            maxlength="64"
          />
        </div>
        <div class="pb-6">
          <label class="text-wrapper">Електронна пошта</label>
          <input
            class="placeholder"
            placeholder="hello@ecotote.com"
            type="email"
            required
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          />
        </div>
        <div class="pb-6">
          <label class="text-wrapper">Повідомлення</label>
          <textarea
            class="text-area type-your-message-wrapper text-wrapper-2"
            placeholder="Введіть своє повідомлення..."
            maxlength="500"
          ></textarea>
        </div>

        <button class="button" type="submit">Надіслати</button>
      </form>
    </div>
    <div class="flex">
      <img class="a-studio-space-with" src="./img/img.svg" />
    </div>
  </div>
</section>
