<section class="support-container" id="support">
  <div class="flex support-wrapper container">
    <div class="support-content">
      <div class="support-section-title">
        <h1 class="support-heading">
          Залишились питання? Зв&#39;яжіться з нами!
        </h1>
        <h2 class="support-text">Ми тут, щоб допомогти!</h2>
      </div>
      <form class="support-form">
        <div class="input-wrapper">
          <label class="support-text-wrapper">Ім&#39;я</label>
          <input
            type="text"
            class="support-placeholder-wrapper support-text-wrapper-2"
            placeholder="Іван"
            required
            minlength="5"
            maxlength="64"
          />
        </div>
        <div class="input-wrapper">
          <label class="support-text-wrapper">Електронна пошта</label>
          <input
            class="support-placeholder"
            placeholder="hello@ecotote.com"
            type="email"
            required
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          />
        </div>
        <div class="input-wrapper">
          <label class="support-text-wrapper">Повідомлення</label>
          <textarea
            class="support-text-area support-type-your-message-wrapper support-text-wrapper-2"
            placeholder="Введіть своє повідомлення..."
            maxlength="500"
          ></textarea>
        </div>

        <button class="support-button" type="submit">Надіслати</button>
      </form>
    </div>
    <div class="flex support-a-studio-space-with-container">
      <div class="support-a-studio-space-with"></div>
    </div>
  </div>
</section>
