/* about */
.section-about {
    background-image: 
        url("../img/about/about_mob.jpg");
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 64px 0 64px 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
}

@media screen and (min-resolution: 2x) {
    .section-about {
        background-image: 
            url("../img/about/about_mob@2x.jpg");
    }
}

.about-container {
    max-width: 288px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    color: #fff;
}

.about-main-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 12px;
}

.about-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 20px;
}

.about-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}
 

/* Tablet */
@media screen and (min-width: 768px) {
    .section-about {
        background-image: 
            url("../img/about/about_tablet.jpg");
            padding: 80px 0 80px 0;
    }
    
    @media screen and (min-resolution: 2x) {
        .section-about {
            background-image: 
                url("../img/about/about_tablet@2x.jpg");
        }
    }

    .about-main-title {
        margin-bottom: 16px;
    }
    
    .about-subtitle {
        margin-bottom: 24px;
    }
    
    .about-text {
        font-size: 18px;
        max-width: 573px;
    }
}

@media screen and (min-width: 1440px) {
    .section-about {
        background-image: 
            url("../img/about/about_desk.jpg");
        padding: 112px 0 96px 0;
    }
    
        @media screen and (min-resolution: 2x) {
            .section-about {
                background-image: 
                    url("../img/about/about_desk@2x.jpg");
            }
        }

    .about-container {
        width: 768px;
    }   

    .about-subtitle {
        font-size: 56px;
        max-width: 629px;
    }  
}